@charset "UTF-8";
/** 소통마당 > 공지사항 */
.board-layout__list-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.8rem 3rem;
  gap: 3.8rem 3rem;
}
.board-layout__list-gallery .gallery-link {
  display: block;
}
.board-layout__list-gallery .gallery-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.board-layout__view + .btn-wrap {
  margin-top: 5rem;
}

.sub-container.news__notice .subContent-wrap, .sub-container.news__press .subContent-wrap, .sub-container.news__comu .subContent-wrap {
  padding-bottom: 8rem;
}
.sub-container.news__notice .board-layout + .btn-wrap, .sub-container.news__press .board-layout + .btn-wrap, .sub-container.news__comu .board-layout + .btn-wrap {
  margin-top: 5rem;
}
.sub-container.news__notice .board-detail-top, .sub-container.news__press .board-detail-top, .sub-container.news__comu .board-detail-top {
  padding: 4.4rem 0 3.8rem;
  border-top: 1px solid #000;
}
.sub-container.news__notice .board-detail-top .board-detail__tit, .sub-container.news__press .board-detail-top .board-detail__tit, .sub-container.news__comu .board-detail-top .board-detail__tit {
  font-size: 3.2rem;
  font-weight: 400;
  color: #000;
  line-height: 3.4rem;
}
.sub-container.news__notice .board-detail-top .board-detail__tit + .board-detail__capt, .sub-container.news__press .board-detail-top .board-detail__tit + .board-detail__capt, .sub-container.news__comu .board-detail-top .board-detail__tit + .board-detail__capt {
  margin-top: 2.2rem;
}
.sub-container.news__notice .board-detail__capt, .sub-container.news__press .board-detail__capt, .sub-container.news__comu .board-detail__capt {
  background: none;
}
.sub-container.news__notice .board-detail__capt span, .sub-container.news__press .board-detail__capt span, .sub-container.news__comu .board-detail__capt span {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}
.sub-container.news__notice .board-detail__capt span em, .sub-container.news__press .board-detail__capt span em, .sub-container.news__comu .board-detail__capt span em {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #7D7D7D;
}
.sub-container.news__notice .board-detail__view, .sub-container.news__press .board-detail__view, .sub-container.news__comu .board-detail__view {
  padding: 0;
}
.sub-container.news__notice .board-detail__view-inner *, .sub-container.news__press .board-detail__view-inner *, .sub-container.news__comu .board-detail__view-inner * {
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.sub-container.news__notice .board-detail__view-inner a, .sub-container.news__press .board-detail__view-inner a, .sub-container.news__comu .board-detail__view-inner a {
  text-decoration: underline;
}
.sub-container.news__notice .board-detail__view-inner .icon, .sub-container.news__press .board-detail__view-inner .icon, .sub-container.news__comu .board-detail__view-inner .icon {
  margin-right: 0.6rem;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.sub-container.news__notice .board-detail__view-inner .icon img, .sub-container.news__press .board-detail__view-inner .icon img, .sub-container.news__comu .board-detail__view-inner .icon img {
  width: 100%;
}
.sub-container.news__notice .board-detail__file__inner, .sub-container.news__press .board-detail__file__inner, .sub-container.news__comu .board-detail__file__inner {
  padding: 0;
}
.sub-container.news__notice .board-detail__file__inner ul, .sub-container.news__press .board-detail__file__inner ul, .sub-container.news__comu .board-detail__file__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sub-container.news__notice .board-detail__file__inner ul li, .sub-container.news__press .board-detail__file__inner ul li, .sub-container.news__comu .board-detail__file__inner ul li {
  font-size: 1.8rem;
  padding: 2rem 0 2rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.news__notice .board-detail__file__inner ul li + li, .sub-container.news__press .board-detail__file__inner ul li + li, .sub-container.news__comu .board-detail__file__inner ul li + li {
  border-top: 1px solid #EBEBEB;
}
.sub-container.news__notice .board-detail__file__inner .board-file__link, .sub-container.news__press .board-detail__file__inner .board-file__link, .sub-container.news__comu .board-detail__file__inner .board-file__link {
  margin-left: 3rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #666;
}
.sub-container.news__notice .board-layout__list-gallery .gallery-link__img + .gallery-link__data, .sub-container.news__press .board-layout__list-gallery .gallery-link__img + .gallery-link__data, .sub-container.news__comu .board-layout__list-gallery .gallery-link__img + .gallery-link__data {
  margin: 0;
}
.sub-container.news__notice .sub-mainTit + .board-layout, .sub-container.news__press .sub-mainTit + .board-layout, .sub-container.news__comu .sub-mainTit + .board-layout {
  margin-top: 5rem;
}
.sub-container.news__notice .gallery-link, .sub-container.news__press .gallery-link, .sub-container.news__comu .gallery-link {
  position: relative;
}
.sub-container.news__notice .gallery-link:hover .gallery-link__data, .sub-container.news__press .gallery-link:hover .gallery-link__data, .sub-container.news__comu .gallery-link:hover .gallery-link__data {
  opacity: 1;
}
.sub-container.news__notice .gallery-link__img, .sub-container.news__press .gallery-link__img, .sub-container.news__comu .gallery-link__img {
  display: block;
}
.sub-container.news__notice .gallery-link__img img, .sub-container.news__press .gallery-link__img img, .sub-container.news__comu .gallery-link__img img {
  width: 100%;
}
.sub-container.news__notice .gallery-link__data, .sub-container.news__press .gallery-link__data, .sub-container.news__comu .gallery-link__data {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-container.news__notice .gallery-link__data .tit, .sub-container.news__press .gallery-link__data .tit, .sub-container.news__comu .gallery-link__data .tit {
  display: block;
  margin: 0 auto;
  max-width: 24rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  line-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-container.news__notice .gallery-link__data .tit + .creDate, .sub-container.news__press .gallery-link__data .tit + .creDate, .sub-container.news__comu .gallery-link__data .tit + .creDate {
  margin-top: 1rem;
}
.sub-container.news__notice .gallery-link__data .creDate, .sub-container.news__press .gallery-link__data .creDate, .sub-container.news__comu .gallery-link__data .creDate {
  display: block;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}
.sub-container.news .subContent-wrap {
  width: 140rem;
  max-width: 100%;
  margin: 0 auto;
}
.sub-container.news .poster-img .img {
  width: 57.2rem;
  display: block;
}
.sub-container.news .poster-img .img img {
  width: 100%;
}
.sub-container.news .poster-wrap {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.sub-container.news .poster-info li {
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}
.sub-container.news .poster-info li span {
  margin-right: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
}
.sub-container.news .poster-info li + li {
  margin-top: 2rem;
}
.sub-container.news .txt-wrap {
  background: #fff;
  padding: 6.4rem;
  margin-left: 2rem;
}
.sub-container.news .txt-wrap .sub-tit {
  font-size: 1.6rem;
  font-weight: 200;
  color: #000;
}
.sub-container.news .txt-wrap .sub-tit + .tit {
  margin-top: 2.8rem;
}
.sub-container.news .txt-wrap .tit {
  font-size: 4rem;
  font-weight: 600;
  color: #000;
}
.sub-container.news .txt-wrap .tit + .txt-zip {
  margin-top: 3.4rem;
}
.sub-container.news .txt-wrap .txt-zip .txt {
  text-align: left;
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
  line-height: 3.2rem;
}
.sub-container.news .txt-wrap .txt-zip .txt + .txt {
  margin-top: 4.3rem;
}
.sub-container.news .txt-wrap .txt-zip + .poster-info {
  margin-top: 4rem;
}
.sub-container.news .txt-wrap .logo {
  width: 26.5rem;
  display: block;
  margin: 0 auto;
}
.sub-container.news .txt-wrap .logo + .txt {
  margin-top: 4rem;
}
.sub-container.news .txt-wrap .logo img {
  width: 100%;
}
.sub-container.news .txt-wrap .txt {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  line-height: 3.6rem;
}
.sub-container.news .txt-wrap + .stat-box {
  margin-top: 12rem;
}

.stat-box {
  position: relative;
  height: 42.2rem;
}
.stat-box__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 0rem;
  gap: 0rem 0rem;
  height: 100%;
  width: calc(100% - 45.3rem);
  margin-left: auto;
  padding: 3rem 0;
  margin-right: 17.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.stat-box__list .stat-tit {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.stat-box__list .stat-tit + .stat-content {
  margin-top: 3rem;
}
.stat-box__list .stat-content .number {
  font-size: 6rem;
  font-weight: 600;
  color: #0066cc;
}
.stat-box__list .stat-content .unit {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7d7d7d;
}
.stat-box .left,
.stat-box .right {
  position: absolute;
}
.stat-box .left {
  width: 45.3rem;
  height: 30rem;
  left: 0;
  background: #0066cc;
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 6rem;
  z-index: 1;
}
.stat-box .left .tit {
  font-size: 3.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 5.2rem;
}
.stat-box .left .tit + .txt {
  margin-top: 1rem;
}
.stat-box .left .txt {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.36);
}
.stat-box .right {
  width: 116.3rem;
  height: 39.2rem;
  top: 3rem;
  right: 0;
  background: #f8f8f8;
  z-index: 0;
}

/* 소통마당 > Q&A */
.ui-text .list-dot li {
  position: relative;
  padding-left: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3rem;
}
.ui-text .list-dot li::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  margin-right: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  content: " · ";
}

.ui-form + .ui-text {
  margin-top: 1.5rem;
}

.sub-item__tit {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
}

.certi-wrap__inner {
  padding: 6rem;
  background: #f8f8f8;
}
.certi-img img {
  display: block;
  width: 9.7rem;
  height: 9.7rem;
  margin: 5rem auto;
}
.certi-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

@media (max-width: 1280px) {
  .board-table__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .board-table__bottom .btn-wrap--absolute {
    position: relative;
    top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .board-table__bottom .pagination-wrap {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .subVisual--talk {
    background-image: url("../image/sub/img-subVisual--04_m.png");
    background-position: center 0;
  }
  .certi-wrap__inner {
    padding: 3rem;
    padding-top: 3.5rem;
  }
  .certi-text {
    font-size: 14px;
    word-break: keep-all;
  }
  .certi-text br {
    display: none;
  }
  .certi-img img {
    margin: 20px auto;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.news__press .subContent-wrap .board-layout .board-table__list table tr, .sub-container.news__comu .subContent-wrap .board-layout .board-table__list table tr {
    grid-template-columns: 6rem 11.5rem auto;
  }
  .sub-container.news__notice .board-layout + .btn-wrap, .sub-container.news__press .board-layout + .btn-wrap, .sub-container.news__comu .board-layout + .btn-wrap {
    margin-top: 4rem;
  }
  .sub-container.news__notice .board-detail__file__inner .board-file__link, .sub-container.news__press .board-detail__file__inner .board-file__link, .sub-container.news__comu .board-detail__file__inner .board-file__link {
    font-size: 2.8rem;
    margin-left: 1.6rem;
  }
  .sub-container.news__notice .board-detail__file__inner ul li, .sub-container.news__press .board-detail__file__inner ul li, .sub-container.news__comu .board-detail__file__inner ul li {
    padding: 2.5rem 0 2.5rem 3rem;
    font-size: 2.8rem;
  }
  .sub-container.news__notice .board-detail__view-inner .icon, .sub-container.news__press .board-detail__view-inner .icon, .sub-container.news__comu .board-detail__view-inner .icon {
    display: none;
  }
  .sub-container.news__notice .board-detail__view-inner *, .sub-container.news__press .board-detail__view-inner *, .sub-container.news__comu .board-detail__view-inner * {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .sub-container.news__notice .board-detail-top, .sub-container.news__press .board-detail-top, .sub-container.news__comu .board-detail-top {
    padding: 0 4.6rem 5rem;
  }
  .sub-container.news__notice .board-detail-top .board-detail__tit, .sub-container.news__press .board-detail-top .board-detail__tit, .sub-container.news__comu .board-detail-top .board-detail__tit {
    font-size: 3.4rem;
    line-height: 5.8rem;
    word-break: break-all;
  }
  .sub-container.news__notice .board-detail-top .board-detail__tit + .board-detail__capt, .sub-container.news__press .board-detail-top .board-detail__tit + .board-detail__capt, .sub-container.news__comu .board-detail-top .board-detail__tit + .board-detail__capt {
    margin-top: 1.6rem;
  }
  .sub-container.news__notice .board-detail-top .board-detail__capt, .sub-container.news__press .board-detail-top .board-detail__capt, .sub-container.news__comu .board-detail-top .board-detail__capt {
    margin: 0 auto;
  }
  .sub-container.news__notice .board-detail-top .board-detail__capt span, .sub-container.news__press .board-detail-top .board-detail__capt span, .sub-container.news__comu .board-detail-top .board-detail__capt span {
    font-size: 2.2rem;
  }
  .sub-container.news__notice .board-detail-top .board-detail__capt span em, .sub-container.news__press .board-detail-top .board-detail__capt span em, .sub-container.news__comu .board-detail-top .board-detail__capt span em {
    font-size: 2.2rem;
  }
  .sub-container.news__notice .subContent-wrap, .sub-container.news__press .subContent-wrap, .sub-container.news__comu .subContent-wrap {
    padding: 0 4rem 12rem;
  }
  .sub-container.news .board-layout .td-filelink {
    width: 3rem;
    height: 3rem;
  }
  .sub-container.news .board-layout .td-filelink:before {
    display: none;
  }
  .sub-container.news .board-layout .td-filelink .count {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.3rem;
    font-size: 1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
    position: relative;
    border-radius: 999px;
    background: #fff;
    border: 1px solid #000;
  }
  .sub-container.news .board-layout .board-table__list tbody td {
    font-size: 2.2rem;
  }
  .sub-container.news .board-layout .board-table__list tbody td a {
    font-size: 2.8rem;
  }
  .sub-container.news .board-layout .board-table__list thead {
    height: 0;
  }
  .sub-container.news .board-layout .board-table__list thead tr,
  .sub-container.news .board-layout .board-table__list thead th {
    font-size: 0;
    height: 0;
    border: none;
  }
  .sub-container.news .board-layout .board-table__list table {
    width: 100%;
    min-width: 100%;
    table-layout: auto;
  }
  .sub-container.news .board-layout .board-table__list table tbody tr {
    padding: 3.2rem 0;
  }
  .sub-container.news .board-layout .board-table__list table tr {
    display: grid;
    grid-template-rows: 4.1rem 4.1rem;
    grid-template-columns: 6rem 5rem 12rem 18rem auto;
    gap: 0rem 0;
    grid-gap: 0rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #d9d9d9;
  }
  .sub-container.news .board-layout .board-table__list table tr.noFile {
    grid-template-columns: 6.2rem 12rem 5rem 3rem auto;
  }
  .sub-container.news .board-layout .board-table__list table tr.noFile td:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .sub-container.news .board-layout .board-table__list table tr.noFile td:nth-child(5) {
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
    padding-left: 7rem;
  }
  .sub-container.news .board-layout .board-table__list table tr.noFile td:nth-child(5):after {
    position: absolute;
    content: "조회수";
    display: block;
    left: 0;
    top: 0;
  }
  .sub-container.news .board-layout .board-table__list table tr.noFile .td-file {
    grid-column: 5/6;
  }
  .sub-container.news .board-layout .board-table__list table tr td {
    border-bottom: none;
    height: auto;
  }
  .sub-container.news .board-layout .board-table__list table tr td.td-title {
    height: 4.1rem;
  }
  .sub-container.news .board-layout .board-table__list table tr td.td-file {
    grid-column: 2/3;
    grid-row: 2/3;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 3.4rem;
    line-height: 3.4rem;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(2) {
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 0;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(2) a {
    height: 100%;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 0;
    height: auto;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(5) {
    position: relative;
    grid-column: 4/5;
    grid-row: 2/3;
    padding-left: 1rem;
    margin-left: 1rem;
  }
  .sub-container.news .board-layout .board-table__list table tr td:nth-child(5):after {
    left: 0;
    top: 0;
    position: absolute;
    content: "조회수";
    display: block;
  }
  .sub-container.news .board-layout .board-table__list table colgroup col {
    width: unset !important;
  }
  .sub-container.news .board-layout .sch-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container.news .board-layout .sch-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 8.4rem;
  }
  .sub-container.news .board-layout .sch-form .sch-form__label {
    width: 100%;
  }
  .sub-container.news .board-layout .sch-form .sch-form__btn {
    width: 4.7rem;
    margin-right: 3rem;
    background-size: 4.7rem;
  }
  .sub-container.news .board-layout .count-wrap {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .sub-container.news .board-layout .count-wrap * {
    font-size: 2.8rem;
  }
  .sub-container.news .board-layout .count-wrap + .sch-form {
    margin-bottom: 4rem;
  }
  .subVisual--dataBook {
    background-image: url("../image/sub/mo-img-subVisual--dataBook.jpg");
    background-position: center;
  }
}/*# sourceMappingURL=sub-news.css.map */