@charset "UTF-8";
.board-layout {
  width: 140rem;
  margin: 0 auto;
  max-width: 100%;
}
.board-layout .board-table {
  margin-top: 2.4rem;
}
.board-layout .board-table th {
  font-size: 1.8rem;
  font-weight: 400;
  vertical-align: middle;
}
.board-layout .board-table__list .board-table__inner {
  border-top: 1px solid #000;
}
.board-layout .board-table__list table {
  table-layout: fixed;
  min-width: 100%;
  max-width: none;
  position: relative;
}
.board-layout .board-table__list thead th {
  font-weight: 500;
  background: #FAFAFA;
  color: #000;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid #EBEBEB;
  border-top: none;
}
.board-layout .board-table__list thead th:first-child, .board-layout .board-table__list thead th:last-child {
  border-left: none;
  border-right: none;
}
.board-layout .board-table__list thead tr {
  height: 6rem;
  border-top: none;
}
.board-layout .board-table__list thead .num {
  width: 9%;
}
.board-layout .board-table__list thead .cat {
  width: auto;
}
.board-layout .board-table__list thead .addfile {
  width: 8.6%;
}
.board-layout .board-table__list thead .date {
  width: 12.9%;
}
.board-layout .board-table__list thead .view {
  width: 12.9%;
}
.board-layout .board-table__list thead .category {
  width: 8.6%;
}
.board-layout .board-table__list thead .name {
  width: 16.65%;
}
.board-layout .board-table__list thead .callnum {
  width: 16.79%;
}
.board-layout .board-table__list tbody tr.fix td:nth-child(1) {
  background: url(../image/common/icon/icon-table-fix.png) center/contain no-repeat;
  background-size: 2.2rem 2.2rem;
}
.board-layout .board-table__list tbody tr.fix td.td-title a {
  color: #003e88;
}
.board-layout .board-table__list tbody tr:first-child td {
  border-top: none;
}
.board-layout .board-table__list tbody tr.private .cate:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
  background: url(../image/common/icon/icon_private.png) no-repeat center;
  background-size: contain;
}
.board-layout .board-table__list tbody td {
  height: 6rem;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  border-top: none;
  border-bottom: 1px solid #EBEBEB;
  color: #333;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.board-layout .board-table__list tbody td:nth-child(4) {
  font-weight: 300;
}
.board-layout .board-table__list tbody td:nth-child(2) {
  text-align: left;
  padding-left: 3rem;
}
.board-layout .board-table__list tbody td:first-child, .board-layout .board-table__list tbody td:last-child {
  border-left: none;
  border-right: none;
}
.board-layout .board-table__list tbody td a {
  font-size: 1.8rem;
}
.board-layout .board-table__list .td-title {
  padding: 0 3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-layout .board-table__list .td-title__inner {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.board-layout .board-table__list .td-title .icon-secret {
  display: inline-block;
  width: 1.3rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
  background: url(../image/common/icon/icon-secret.png) no-repeat center;
  background-size: 1.3rem 2rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.board-layout .board-table__list .td-titlelink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-layout .board-table__list .td-titlelink.cate {
  position: relative;
  padding-left: 5.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.board-layout .board-table__list .td-titlelink.cate.cate--noticex.cate--notice {
  padding-left: 5.6rem;
}
.board-layout .board-table__list .td-titlelink.cate.cate--noticex:not(.cate--notice) {
  padding-left: 0;
}
.board-layout .board-table__list .td-titlelink.cate:before {
  display: block;
  position: absolute;
  left: 0;
  height: 3.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3.7rem;
  padding: 0 1.1rem;
  color: #fff;
  border-radius: 0.4rem;
}
.board-layout .board-table__list .td-titlelink.cate--notice:before {
  content: "공지";
  background: #E54125;
}
.board-layout .board-table__list .td-titlelink.cate--festival:before {
  content: "행사";
  background: #2D3C8A;
}
.board-layout .board-table__list .td-titlelink.cate--research:before {
  content: "연구";
  background: #E56A25;
}
.board-layout .board-table__list .td-titlelink.cate--etc:before {
  content: "기타";
  background: #6D6E67;
}
.board-layout .board-table__list .td-filelink {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  background: url(../image/common/icon/icon-download__table.png) no-repeat center;
  background-size: cover;
}
.board-layout .board-table__list .td-process .badge-process {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.2rem;
  height: 4rem;
  margin: 0 auto;
  border: 1px solid #4568a9;
  font-size: 1.6rem;
  color: #4568a9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.board-layout .board-table__list .td-process .badge-process__end {
  background: #4568a9;
  color: #ffffff;
}
.board-layout .board-table__list .td-work {
  text-align: left;
  line-height: normal;
}
.board-layout .board-table__list--press thead .num {
  width: 8.572%;
}
.board-layout .board-table__list--press thead .press {
  width: 8.6%;
}
.board-layout .board-table__list--press .td-titlelink {
  padding-left: 3rem;
  background: url(../image/common/icon/icon-pressLink.png) no-repeat left center;
  background-size: 1.7rem;
}
.board-layout .board-table__list--qna thead .num, .board-layout .board-table__list--qna thead .process, .board-layout .board-table__list--qna thead .author {
  width: 8.572%;
}
.board-layout .board-table__list--org thead tr {
  height: 6rem;
  border-top-width: 1px;
}
.board-layout .board-table__list--org tbody td {
  height: 6rem;
  padding: 1.5rem 0;
}
.board-layout .board-table__view table th {
  padding-left: 3.3rem;
  text-align: left;
}
.board-layout .board-table__view table th:first-child, .board-layout .board-table__view table th:last-child {
  border-left: none;
}
.board-layout .board-table__view table tbody tr:nth-child(1) {
  border-top: 1px solid #DEDEDE;
}
.board-layout .board-table__view .ver-th {
  width: 28rem;
}
.board-layout .board-table__view tr {
  border-bottom: 1px solid #DEDEDE;
}
.board-layout .board-table__view th, .board-layout .board-table__view td {
  vertical-align: middle;
}
.board-layout .board-table__view th {
  height: 7rem;
  border-right: 1px solid #DEDEDE;
  background: #ECF4FA;
}
.board-layout .board-table__view td {
  height: 7rem;
  padding: 0 3rem;
  padding-right: 0;
  text-align: left;
}
.board-layout .board-table__bottom {
  position: relative;
  padding-top: 4.5rem;
}
.board-layout .board-table__bottom .btn-wrap--absolute {
  top: 3rem;
  right: 0;
}
.board-layout .board-table__bottom .pagination-wrap {
  margin-top: 0;
}
.board-layout__list {
  width: 100%;
}
.board-layout__list-gallery .gallery-link {
  display: block;
}
.board-layout__list-gallery .gallery-link__img {
  display: block;
}
.board-layout__list-gallery .gallery-link__img + .gallery-link__data {
  margin-top: 1.7rem;
}
.board-layout__list-gallery .gallery-link__img img {
  width: 100%;
}
.board-layout__list-gallery .gallery-link__data {
  text-align: center;
}
.board-layout__list-gallery .gallery-link__data span {
  position: relative;
}
.board-layout__list-gallery .gallery-link__data .name {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
  padding-right: 1rem;
}
.board-layout__list-gallery .gallery-link__data .job:before,
.board-layout__list-gallery .gallery-link__data .country:before {
  position: absolute;
  content: "/";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.board-layout__list-gallery .gallery-link__data .job {
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.board-layout__list-gallery .gallery-link__data .country {
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.board-layout .board-tab__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #ebebeb;
  border-left: 1px solid #ebebeb;
}
.board-layout .board-tab__list.col-7 li {
  width: 14.2857142857%;
}
.board-layout .board-tab__list li {
  position: relative;
  margin: 0;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.board-layout .board-tab__list li.active {
  border-color: #233e80;
}
.board-layout .board-tab__list li.active + li {
  margin-top: 0;
}
.board-layout .board-tab__list li.active::after {
  background: #233e80;
  z-index: 2;
  bottom: 0;
}
.board-layout .board-tab__list li.active a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #233e80;
}
.board-layout__view {
  width: 100%;
}
.board-layout__lnb {
  margin-right: 8rem;
}
.board-layout__lnb li {
  position: relative;
  border: 1px solid #ebebeb;
}
.board-layout__lnb li + li {
  margin-top: -1px;
}
.board-layout__lnb li.active {
  border-color: #233e80;
}
.board-layout__lnb li.active + li {
  margin-top: 0;
}
.board-layout__lnb li.active::after {
  background: #233e80;
  z-index: 2;
  bottom: 0;
}
.board-layout__lnb li.active a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #233e80;
}
.board-layout__lnb li a {
  padding: 1.4rem 0;
  display: block;
  width: 19rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #666;
}

.subContent__inner {
  width: 140rem;
  max-width: 100%;
  margin: 0 auto;
}

.sub-mainTit {
  padding-top: 5rem;
  font-size: 3rem;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.sub-sec__tit {
  font-size: 2.6rem;
  font-weight: 500;
  color: #000;
}

.subVisual {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subVisual-logo {
  display: block;
}
.subVisual-logo img {
  width: 100%;
}
.subVisual__cate {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  background: rgba(65, 80, 94, 0.28);
  border-left: 1px solid rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(3px);
  display: grid;
  backdrop-filter: blur(3px);
  grid-template-rows: 56% auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.subVisual__cate > * {
  margin-left: 8rem;
}
.subVisual__tit {
  color: #FFF;
  font-size: 4.4rem;
  font-weight: 600;
  grid-row: 1/2;
  grid-column: 1/2;
}
.subVisual__inner {
  width: 140rem;
  margin: 0 auto;
  height: 100%;
}
.subVisual__crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-bottom: 4rem;
}
.subVisual__crumb li {
  position: relative;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.subVisual__crumb li + li {
  background-image: url("../image/common/icon/icon_clampRight.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 0.7rem 1.1rem;
}
.subVisual__crumb li + li::before {
  display: inline-block;
  content: "";
}
.subVisual__crumb li:first-child {
  padding-left: 0;
}

.subContent-wrap.list .subContent__tit {
  font-size: 3.6rem;
  font-weight: 600;
  color: #6d6e67;
}
.subContent__tit {
  font-size: 4.4rem;
  font-weight: 600;
  text-align: center;
}
.subContent__tit2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.subTab .tab-link a {
  height: 7rem;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  font-size: 2rem;
  font-weight: 400;
  color: #a7a7a7;
  background-color: #fff;
  position: relative;
}
.subTab .tab-link a:before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 0.1rem;
  height: 2.5rem;
  background-color: #ccc;
}
.subTab .tab-link a:first-child {
  border-left: 2px solid #aaa;
}
.subTab .tab-link a:last-child {
  border-right: 2px solid #aaa;
}
.subTab .tab-link a:last-child:before {
  display: none;
}
.subTab .tab-link a.active {
  color: #e54125;
  font-weight: 600;
}

.bradcrumb {
  max-width: 192rem;
  margin: 0 auto;
}

.bradcrumb-wrap {
  border-bottom: 1px solid rgb(235, 235, 235);
  background: #F8F8F8;
}

.bradcrumb__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 140rem;
  height: 5rem;
  margin: 0 auto;
}

.bradcrumb-link--home {
  padding: 1.6rem 1.605rem;
  background: #233e80;
}

.bradcrumb-link--home img {
  width: 100%;
}

.bradcrumb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bradcrumb-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33rem;
}

.bradcrumb-item::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0.1rem;
  height: 100%;
  background-color: #ebebeb;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
}

.bradcrumb__tit {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  background: url("../image/sub/icon-select--down.svg") no-repeat calc(100% - 3rem) center/1.2rem 0.6rem;
  text-align: left;
}

.bradcrumb__tit.is-active {
  color: #aa7957;
  background: url("../image/sub/icon-select--down__on.svg") no-repeat calc(100% - 3rem) center/2.2rem 1.1rem;
}

.bradcrumb__links {
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  z-index: 2;
}

.bradcrumb__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6rem;
  padding: 0 2rem;
  border-bottom: 1px solid #eeeeee;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
}

.bradcrumb__links a:last-child {
  border-bottom: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .subContent-wrap {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .subContent-wrap.list .subContent__tit {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .subVisual {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 12.4rem;
  }
  .subVisual__tit {
    font-size: 2.2rem;
  }
  .subVisual__cate {
    grid-template-rows: 81% 19%;
  }
  .subVisual__cate > * {
    margin-left: 2rem;
  }
  .subVisual__crumb {
    margin-bottom: 2rem;
  }
  .subVisual__crumb li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
  .subVisual__crumb li:first-child img {
    width: 0.9rem;
    height: 1rem;
  }
  .subVisual__crumb li + li {
    padding: 0 0 0 2.5rem;
    background-size: 0.4rem 0.8rem;
  }
  .subVisual {
    height: 240px;
    background-size: cover;
  }
  .subVisual__crumb li {
    font-size: 1.6rem;
  }
  .subVisual__crumb li:first-child img {
    width: 1.7rem;
  }
  .subVisual__crumb li + li {
    padding-left: 3rem;
    background-position: 1.2rem center;
    background-size: 0.7rem 1.1rem;
  }
  .subVisual__tit {
    margin-bottom: 2.9rem;
    font-size: 5.4rem;
  }
  .subTab .tab-link a {
    height: 4.7rem;
    font-size: 1.6rem;
  }
  .subTab .tab-link a.active {
    background-size: 17.6rem 17.6rem;
  }
  .subContent__tit {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=sub.css.map */