@charset "UTF-8";
/* 사이트맵 */
.subContent__inner--sitemap {
  max-width: 100%;
  background-size: 60rem 61.3rem;
}

.subVisual--forum {
  background-image: url("../image/sub/img-subVisual--forum.jpg");
  background-position: center 0;
}

.sitemap-wrap {
  max-width: 140rem;
  margin: 0 auto;
}
.sitemap-wrap__inner {
  margin: -3rem -5rem;
}
.sitemap-item {
  display: inline-block;
  width: 33%;
  padding: 3rem 5rem;
  vertical-align: top;
  text-align: center;
}
.sitemap-title {
  margin-bottom: 2rem;
  padding: 2.6rem;
  border-bottom: 2px solid #3b60a5;
  font-size: 2.4rem;
  font-weight: 500;
  color: #4568a9;
}
.sitemap-link {
  font-size: 1.6rem;
  line-height: 4rem;
}

/* 개인정보처리방침 */
.forum-wrap__inner {
  max-width: 140rem;
  margin: 0 auto;
}
.forumArea * {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 400;
}
.forumArea h4 {
  margin-top: 4.5rem;
  font-weight: 500;
}
.forumArea .lists {
  padding-left: 1.5rem;
}
.forumArea .list-dot {
  display: block;
  position: relative;
  padding-left: 1rem;
}
.forumArea .list-dot::before {
  position: absolute;
  top: 1.5rem;
  left: 2px;
  width: 2px;
  height: 2px;
  background: #000000;
  content: "";
}
.forumArea .table-wrap {
  width: 100%;
}
.forumArea .table-wrap table {
  border: 1px solid #ddd;
  width: 72rem;
}
.forum-tit {
  color: #6D6E67;
  font-size: 3rem;
  font-weight: 600;
}
.forum-agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.forum-agree .ui-radio {
  margin-left: 3rem;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .subVisual--forum {
    background-image: url("../image/sub/mo-img-subVisual--forum.jpg");
    background-position: center;
  }
  .sitemap-wrap__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -2rem;
  }
  .sitemap-item {
    width: 50%;
    padding: 2rem;
  }
  .sitemap-title {
    font-size: 18px;
  }
  .sitemap-link {
    font-size: 14px;
  }
  .forumArea * {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
  .forumArea .table-wrap {
    width: 100%;
    overflow-x: scroll;
  }
  .forumArea .table-wrap table {
    width: 82rem;
  }
  .forumArea h4 {
    margin-top: 2rem;
  }
  .forum-agree {
    margin-top: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .forum-agree .ui-radio {
    margin-left: 0;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forum-agree .ui-radio__inner {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .forum-tit {
    font-size: 1.8rem;
  }
}