.sch-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sch-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5rem;
}
.sch-form__select {
  min-width: 17rem;
  height: 100%;
  margin-right: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
  color: #555;
  font-weight: 400;
  border: 1px solid #ebebeb;
  background-color: #fff;
  background: url(../image/common/icon/search_select_arrow.png) no-repeat;
  background-size: 1.4rem;
  background-repeat: no-repeat;
  background-position: 90% center;
}
.sch-form__select::-webkit-input-placeholder {
  color: red;
}
.sch-form__select::-moz-placeholder {
  color: red;
}
.sch-form__select:-ms-input-placeholder {
  color: red;
}
.sch-form__select::-ms-input-placeholder {
  color: red;
}
.sch-form__select::placeholder {
  color: red;
}
.sch-form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  font-size: 0;
  border: 1px solid #ebebeb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sch-form__input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding-left: 2rem;
  padding-right: 2rem;
}
.sch-form__input::-webkit-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}
.sch-form__input::-moz-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}
.sch-form__input:-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}
.sch-form__input::-ms-input-placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}
.sch-form__input::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
}

.ui-form input, .ui-form textarea, .ui-form select {
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  padding: 0 0.5rem;
  color: #555;
  font-size: 1.6rem;
  height: 5rem;
  padding-left: 0;
  text-indent: 2rem;
}
.ui-form input + select {
  margin-left: 0.5rem;
}
.ui-form__select {
  width: 25rem;
  background: url(../image/common/icon/search_select_arrow.png) no-repeat 22rem 2rem;
}
.ui-form span {
  margin: 0 1rem;
  color: #555;
}
.ui-form__captcha--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20rem;
  height: 5rem;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.ui-form__captcha--left .ui-input {
  width: 100%;
  height: 100%;
  border: 0;
}
.ui-form__captcha--left .btn-reset {
  width: 5rem;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-left: 1px solid #EBEBEB;
  background: url(../image/common/icon/icon-reset.png) no-repeat center;
}
.ui-form__captcha--left .captcha-area {
  width: 100%;
}
.ui-form__captcha--left .captcha-area img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
.ui-form__captcha--right {
  margin-left: 5px;
}
.ui-form__captcha--right .ui-input {
  width: 12rem;
  font-size: 1.6rem;
  text-indent: 2rem;
}
.ui-input {
  height: 5rem;
}
.ui-input__full {
  width: 100%;
}
.ui-input__width-m {
  width: 25rem;
}
.ui-input__width-400 {
  width: 40rem;
}
.ui-input__bg-gray {
  background: #f8f8f8;
}
.ui-textarea {
  height: 15rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  resize: none;
}
.ui-radio__item, .ui-checkbox__item {
  display: inline-block;
}
.ui-radio .ui-label, .ui-checkbox .ui-label {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  line-height: normal;
  cursor: pointer;
}
.ui-radio .ui-label__text, .ui-checkbox .ui-label__text {
  margin-left: 1rem;
}
.ui-radio-object, .ui-checkbox-object {
  position: relative;
  display: block;
  width: 2.6rem;
  height: 2.6rem;
  /* margin-top: -1px; */
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: no-repeat 50% 50% #fff;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}
.ui-radio:focus + .ui-label .ui-checkbox-object,
.ui-radio:focus + .ui-label .ui-radio-object, .ui-checkbox:focus + .ui-label .ui-checkbox-object,
.ui-checkbox:focus + .ui-label .ui-radio-object {
  outline-width: 1px;
  outline-style: dotted;
}
.ui-radio-input, .ui-checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.ui-radio-input:checked + .ui-label .ui-radio-object, .ui-checkbox-input:checked + .ui-label .ui-radio-object {
  border: 1px solid #e5412b;
  background: url(../image/common/icon/icon_check.png) no-repeat center;
}
.ui-radio__item {
  position: relative;
  padding: 5px;
  z-index: 0;
  font-size: 0;
  line-height: 0;
}
.ui-radio:checked + .ui-label .ui-radio-object {
  border-color: #5ca093;
}
.ui-checkbox:checked + .ui-checkbox-object, .ui-checkbox:checked + .ui-label .ui-checkbox-object {
  border-color: #5ca093;
  background-color: #30b49c;
  background-image: url("../images/icon/check.svg");
}
.ui-file-input {
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
}
.ui-file-input__inner {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.ui-file-input__input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-indent: 0;
}
.ui-file-input__watch {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-file-input__label {
  display: inline-block;
  vertical-align: top;
  width: 13.5rem;
  height: 5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #4568a9;
  font-size: 1.6rem;
  color: #ffffff;
  line-height: 4rem;
  white-space: nowrap;
  text-align: center;
}
.ui-file-vol {
  margin-left: 1.5rem;
  font-size: 1.6rem;
  color: #747478;
  letter-spacing: -1px;
}
.ui-file-vol span {
  font-weight: 600;
}

.attach-file__top {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.attach-file__bottom {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border: 1px solid #d2d5dc;
}
.attach-file__name {
  line-height: normal;
}
.attach-file__item {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0 0.2rem 2.5rem;
  font-size: 1.6rem;
  background: url(../image/common/icon/icon-file__list.png) no-repeat left center;
  background-size: 1.5rem 1.8rem;
}
.attach-file__item + .attach-file__item {
  margin-top: 1rem;
}
.attach-file__item .delete-file {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background: url(../image/common/icon/icon-delete__file.png) no-repeat center;
  background-size: cover;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.captcha-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .sch-form {
    height: 4rem;
  }
  .sch-form__select {
    line-height: 4rem;
    font-size: 1.6rem;
    padding-left: 0;
    padding-right: 0.8rem;
    background-size: 1.2rem 0.839rem;
  }
  .sch-form__input {
    padding-left: 0;
    padding-right: 0.8rem;
  }
  .sch-form__input::-webkit-input-placeholder {
    font-size: 1.6rem;
  }
  .sch-form__input::-moz-placeholder {
    font-size: 1.6rem;
  }
  .sch-form__input:-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .sch-form__input::-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .sch-form__input::placeholder {
    font-size: 1.6rem;
  }
  .sch-form__btn {
    width: 3rem;
    background-size: 1.6rem;
    margin-right: 0.5rem;
  }
  .ui-file-input__input {
    font-size: 1.2rem;
  }
  .ui-file-input__label {
    height: 4rem;
    line-height: 4rem;
  }
  .ui-form input,
  .ui-form textarea,
  .ui-form select {
    text-indent: 0.8rem;
  }
  .ui-radio-input:checked + .ui-label .ui-radio-object,
  .ui-checkbox-input:checked + .ui-label .ui-radio-object {
    width: 2rem;
    height: 2rem;
    background-size: 1rem 0.9rem;
  }
  .ui-form input {
    font-size: 1.2rem;
    height: 4rem;
    line-height: 4rem;
  }
  .ui-form textarea {
    font-size: 1.2rem;
    line-height: normal;
  }
  .ui-radio-object, .ui-radio-input {
    width: 1.9rem;
    height: 0.9rem;
  }
  .ui-radio-object:checked, .ui-radio-input:checked {
    width: 1.9rem;
    height: 0.9rem;
  }
  .ui-radio__item {
    padding: 0;
  }
  .ui-radio-object {
    width: 2rem;
    height: 2rem;
  }
  .sch-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sch-wrap > * {
    width: 100%;
    margin-left: 0;
  }
  .sch-form__select {
    min-width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    height: 4rem;
    font-size: 1.2rem;
  }
  .sch-form__label {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
  .sch-form__input {
    width: calc(100% - 5rem);
    height: 4rem;
    font-size: 1.2rem;
    background: transparent;
  }
  .sch-form__input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  .sch-form__input::-moz-placeholder {
    font-size: 1.2rem;
  }
  .sch-form__input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .sch-form__input::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  .sch-form__input::placeholder {
    font-size: 1.2rem;
  }
  .count-wrap {
    margin-bottom: 2rem;
  }
  .ui-input__width-m {
    width: 100%;
  }
}/*# sourceMappingURL=ui-form.css.map */