@charset "UTF-8";
.pop-wrap {
  position: absolute;
  left: 5%;
  top: 20%;
  z-index: 3;
}
.pop-wrap.modalPop {
  position: fixed;
  display: none;
  left: 50%;
  z-index: 50;
  border-radius: 3rem;
}
.pop-wrap.modalPop .pop-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 90;
}
.pop-wrap.modalPop .pop-cont {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48rem;
  height: 21rem;
  padding: 50px;
  border-radius: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fff;
  z-index: 100;
  overflow: hidden;
}
.pop-wrap.modalPop .pop-cont .txt {
  text-align: center;
  color: #333;
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
}
.pop-cont {
  width: 41.4rem;
  height: auto;
  border-radius: 6rem;
  background: #fff url(../image/main/pop-bg.png) no-repeat center;
  background-size: contain;
}
.pop-cont .btn-wrap.close {
  position: absolute;
  right: -1rem;
  top: -1rem;
}
.pop-cont .btn-wrap.close button {
  width: 2.1rem;
  height: 2.1rem;
  background: url(../image/common/icon/icon_popClose.png) no-repeat center;
}
.pop-cont .btn-wrap.click {
  width: 26rem;
  margin: 3.3rem auto 0;
}
.pop-cont .btn-wrap.click a {
  position: relative;
  height: 6rem;
  border-radius: 3rem;
  padding-left: 2.8rem;
  width: 100%;
  text-align: left;
  background: #000;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 6rem;
}
.pop-cont .btn-wrap.click :before {
  content: "";
  position: absolute;
  right: 2.9rem;
  top: 2rem;
  width: 2.1rem;
  height: 2.4rem;
  background: url(../image/common/icon/icon_click.png) no-repeat center;
}
.pop-cont .btn-wrap.check button {
  width: 11rem;
  height: 5rem;
  margin: 0 auto;
  background: #4FA6F6;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3rem;
}
.pop-cont__inner {
  padding: 4.2rem 3.3rem 2.2rem 4rem;
  height: 100%;
  position: relative;
}
.pop-cont__inner .cate {
  width: 13.5rem;
  height: 3.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.6rem;
  background: #E54125;
  line-height: 3.2rem;
  text-align: center;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 500;
}
.pop-cont__inner .tit {
  color: #000;
  font-size: 32px;
  font-weight: 500;
  line-height: 4.7rem;
  margin-top: 0.9rem;
}
.pop-cont__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.7rem 0;
  margin-top: 3.8rem;
}
.pop-cont__inner ul li .icon {
  position: relative;
  font-size: 2rem;
  padding-left: 2rem;
  color: #E54125;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.1rem;
}
.pop-cont__inner ul li .icon.clock:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.8rem;
  height: 1.9rem;
  background: url(../image/common/icon/icon_clock.png) no-repeat center;
}
.pop-cont__inner ul li .icon.pencil:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.8rem;
  height: 1.9rem;
  background: url(../image/common/icon/icon_pencil.png) no-repeat center;
}
.pop-cont__inner ul li .icon + span {
  color: #444;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.6rem;
}

/* 부트스트랩 모달 */
.modal-open {
  overflow: hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  transition: -webkit-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    transition: none;
  }
}
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}

.modal-dialog-centered {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

/* //부트스트랩 모달 */
.modal {
  padding-right: 0 !important;
}
.modal-body {
  padding: 0;
}
.modal-dialog {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-content {
  width: auto;
  padding: 4rem 3rem;
  -webkit-box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1);
          box-shadow: 1rem 1rem 1.8rem rgba(0, 0, 0, 0.1);
  border: 1px solid #d2d5dc;
  border-radius: 0;
}
.modal-content__email .modal-tit {
  margin-bottom: 3rem;
  font-size: 2.4rem;
}
.modal-content__email .modal-img {
  display: block;
  margin-bottom: 2rem;
  text-align: center;
}
.modal-tit {
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
.modal-text {
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: center;
}
.modal-backdrop {
  background: rgba(0, 0, 0, 0.56);
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 80%;
  }
  .modal-content .ui-input__width-400 {
    width: 100%;
  }
  .modal-text {
    font-size: 14px;
    word-break: keep-all;
  }
  .modal-text br {
    display: none;
  }
}