@charset "UTF-8";
/** 소통마당 > 공지사항 */
.popup.board-table {
  padding: 2rem;
}

.board-table {
  margin-top: 3rem;
}
.board-table th {
  font-size: 1.8rem;
  font-weight: 400;
  vertical-align: middle;
  border: 1px solid #dcdcdc;
}
.board-table__list .board-table__inner {
  border-top: 1px solid #000;
}
.board-table__list table {
  table-layout: fixed;
  min-width: 100%;
  max-width: none;
  position: relative;
}
.board-table__list thead th {
  color: #E54125;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-top: none;
  border-bottom: 1px solid #000;
}
.board-table__list thead th:first-child, .board-table__list thead th:last-child {
  border-left: none;
  border-right: none;
}
.board-table__list thead tr {
  height: 6rem;
  border-top: none;
}
.board-table__list thead .num {
  width: 9%;
}
.board-table__list thead .cat {
  width: auto;
}
.board-table__list thead .addfile {
  width: 8.6%;
}
.board-table__list thead .date {
  width: 12.9%;
}
.board-table__list thead .view {
  width: 12.9%;
}
.board-table__list thead .category {
  width: 8.6%;
}
.board-table__list thead .name {
  width: 16.65%;
}
.board-table__list thead .callnum {
  width: 16.79%;
}
.board-table__list tbody tr:first-child td {
  border-top: none;
}
.board-table__list tbody tr.private .cate:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 0.5rem;
  background: url(../image/common/icon/icon_private.png) no-repeat center;
  background-size: contain;
}
.board-table__list tbody td {
  height: 6rem;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  border-top: none;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  color: #333;
  font-weight: 300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.board-table__list tbody td:nth-child(4) {
  font-weight: 300;
}
.board-table__list tbody td:nth-child(2) {
  text-align: left;
  padding-left: 3rem;
}
.board-table__list tbody td:first-child, .board-table__list tbody td:last-child {
  border-left: none;
  border-right: none;
}
.board-table__list tbody td a {
  font-size: 1.8rem;
}
.board-table__list .td-title {
  padding: 0 3rem;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board-table__list .td-title__inner {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.board-table__list .td-title .icon-secret {
  display: inline-block;
  width: 1.3rem;
  height: 2rem;
  margin-left: 1rem;
  vertical-align: top;
  background: url(../image/common/icon/icon-secret.png) no-repeat center;
  background-size: 1.3rem 2rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.board-table__list .td-titlelink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.board-table__list .td-titlelink.cate {
  position: relative;
  padding-left: 5.6rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.board-table__list .td-titlelink.cate.cate--noticex.cate--notice {
  padding-left: 5.6rem;
}
.board-table__list .td-titlelink.cate.cate--noticex:not(.cate--notice) {
  padding-left: 0;
}
.board-table__list .td-titlelink.cate:before {
  display: block;
  position: absolute;
  left: 0;
  height: 3.7rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3.7rem;
  padding: 0 1.1rem;
  color: #fff;
  border-radius: 0.4rem;
}
.board-table__list .td-titlelink.cate--notice:before {
  content: "공지";
  background: #E54125;
}
.board-table__list .td-titlelink.cate--festival:before {
  content: "행사";
  background: #2D3C8A;
}
.board-table__list .td-titlelink.cate--research:before {
  content: "연구";
  background: #E56A25;
}
.board-table__list .td-titlelink.cate--etc:before {
  content: "기타";
  background: #6D6E67;
}
.board-table__list .td-filelink {
  display: inline-block;
  width: 3.2rem;
  height: 3rem;
  background: url(../image/common/icon/icon-download__table.png) no-repeat center;
  background-size: cover;
}
.board-table__list .td-process .badge-process {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 9.2rem;
  height: 4rem;
  margin: 0 auto;
  border: 1px solid #4568a9;
  font-size: 1.6rem;
  color: #4568a9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.board-table__list .td-process .badge-process__end {
  background: #4568a9;
  color: #ffffff;
}
.board-table__list .td-work {
  text-align: left;
  line-height: normal;
}
.board-table__list--press thead .num {
  width: 8.572%;
}
.board-table__list--press thead .press {
  width: 8.6%;
}
.board-table__list--press .td-titlelink {
  padding-left: 3rem;
  background: url(../image/common/icon/icon-pressLink.png) no-repeat left center;
  background-size: 1.7rem;
}
.board-table__list--qna thead .num, .board-table__list--qna thead .process, .board-table__list--qna thead .author {
  width: 8.572%;
}
.board-table__list--org thead tr {
  height: 6rem;
  border-top-width: 1px;
}
.board-table__list--org tbody td {
  height: 6rem;
  padding: 1.5rem 0;
}
.board-table__view table th {
  padding-left: 3.3rem;
  text-align: left;
}
.board-table__view table th:first-child, .board-table__view table th:last-child {
  border-left: none;
}
.board-table__view table tbody tr:nth-child(1) {
  border-top: 1px solid #DEDEDE;
}
.board-table__view .ver-th {
  width: 28rem;
}
.board-table__view tr {
  border-bottom: 1px solid #DEDEDE;
}
.board-table__view th, .board-table__view td {
  vertical-align: middle;
}
.board-table__view th {
  height: 7rem;
  border-right: 1px solid #DEDEDE;
  background: #ECF4FA;
}
.board-table__view td {
  height: 7rem;
  padding: 0 3rem;
  padding-right: 0;
  text-align: left;
}
.board-table--write table th {
  padding-left: 3.3rem;
  text-align: left;
}
.board-table--write table th:first-child, .board-table--write table th:last-child {
  border-left: none;
}
.board-table--write table tbody tr:nth-child(1) {
  border-top: 1px solid #DEDEDE;
}
.board-table--write .ver-th {
  width: 28rem;
}
.board-table--write tr {
  border-bottom: 1px solid #DEDEDE;
}
.board-table--write th, .board-table--write td {
  vertical-align: middle;
}
.board-table--write th {
  height: 7rem;
  border-right: 1px solid #DEDEDE;
  background: #ECF4FA;
}
.board-table--write td {
  height: 7rem;
  padding: 0 3rem;
  padding-right: 0;
  text-align: left;
}
.board-table__bottom {
  position: relative;
  padding-top: 4.5rem;
}
.board-table__bottom .btn-wrap--absolute {
  top: 3rem;
  right: 0;
}
.board-table__bottom .pagination-wrap {
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .board-table {
    margin-top: 2rem;
  }
  .board-table__list .td-filelink {
    width: 2rem;
    height: 1.875rem;
  }
  .board-table__list .board-table__inner {
    position: relative;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /*
    &::before{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.48);
        color: #ffffff;
        font-size: 2rem;
        content: "표를 밀어보세요";
        z-index: 1;
    }
    */
  }
  .board-table__list .board-table__inner.removeBefore::before {
    display: none;
  }
  .board-table__list table {
    min-width: 50rem;
  }
  .board-table__list thead tr {
    height: 4rem;
  }
  .board-table__list thead th {
    height: 4rem;
  }
  .board-table__list thead .category {
    width: 12%;
  }
  .board-table__list thead .date {
    width: 16%;
  }
  .board-table__list thead .addfile {
    width: 12%;
  }
  .board-table__list tbody tr .td-title {
    padding: 0 1rem;
    position: relative;
  }
  .board-table__list tbody tr .td-titlelink.cate {
    padding-left: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 1rem);
    word-break: break-all;
    display: block;
    line-height: 4rem;
    position: static;
  }
  .board-table__list tbody tr .td-titlelink.cate:before {
    font-size: 1rem;
    padding: 0;
    top: 0.8rem;
    left: 1rem;
    text-align: center;
    width: 3.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
  }
  .board-table__list tbody tr .td-titlelink.cate:after {
    position: absolute;
    top: 1.1rem;
    right: 0.5rem;
    display: block;
  }
  .board-table__list tbody td {
    height: 4rem;
    padding: 0;
    font-size: 1.2rem;
  }
  .board-table__list tbody td a {
    font-size: 1.2rem;
  }
  .board-table__list th, .board-table__list td {
    padding: 0;
    font-size: 1.2rem;
  }
  .board-table__list--press thead .press {
    width: 12%;
  }
  .board-table__list--qna thead .num, .board-table__list--qna thead .author {
    width: 10%;
  }
  .board-table__view.ver table {
    table-layout: fixed;
    min-width: 100%;
    max-width: none;
    position: relative;
  }
  .board-table__view.ver table .ver-th {
    width: 27.5%;
  }
  .board-table__view table th {
    padding: 0;
    padding-left: 2rem;
    font-size: 1.2rem;
  }
  .board-table__view table th, .board-table__view table td {
    height: 5rem;
  }
  .board-table__view table td {
    padding: 0.5rem;
    padding-right: 0;
  }
  .board-table__view table td .ui-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .board-table__view table td .ui-form > * {
    font-size: 1rem;
  }
  .board-table__view table td .ui-form span {
    margin: 0 0.4rem;
  }
  .board-table__view table td .ui-form input, .board-table__view table td .ui-form select {
    height: 4rem;
    padding: 0;
  }
  .board-table__view table td .ui-form select {
    background: url(../image/common/icon/search_select_arrow.png) no-repeat 6rem center;
    background-size: 0.8rem 0.546rem;
  }
  .board-table__view table td .ui-form input + select {
    margin-left: 0.2rem;
  }
}/*# sourceMappingURL=ui-table.css.map */