/* 공통 */
.f_bold{
    font-weight:600;
}
.mt-35{
    margin-top:35px;
}

/* //공통 */

.subContent-wrap{
    &.gr-background{
        margin-bottom:0;
        background:url(../image/sub/img-greeting.png) 100% 100% no-repeat;
        background-position:center bottom;
    }
}


.gr{
    &_wrap{
        &__inner{
            padding-top:40px;
            padding-bottom:153px;
            padding-left:50px;
            
        }
    }
    &-title{
        text-align:left;
        font-size: 3.6rem;
        font-weight: 400;
        line-height: 5rem;
        text-indent: -0.25px;
    }
    &-text{
        text-align:left;
        line-height:36px;
        text-indent: 0.25px;
    }
}


@mixin set-color($color, $bg-color) {
    color:  $color;
    background-color: $bg-color;
} 

h1{
    @include set-color( #ffffff, #000000);
}