@charset 'utf-8';
@import 'mixin';

/** 소통마당 > 공지사항 */



.board-layout{
    
    &__list{
        &-gallery{
            @include d-grid-column--repeat(3,3.8,3);
            .gallery{
                &-item{
    
                }
                &-link{
                    display: block;
                }
                &-data{
                    display: flex;
                }
            }
            
        }
    }
    &__view{
        & + .btn-wrap{
            margin-top:5rem;
        }
    }
    
}
.sub-container{
    &.news{
        &__notice,
        &__press,
        &__comu{
            
            .subContent-wrap{
                padding-bottom: 8rem;
            }
            .board-layout{
                & + .btn-wrap{
                    margin-top:5rem;
                }
            }
            .board-detail-top{
                padding:4.4rem 0 3.8rem;
                border-top:1px solid #000;
                .board-detail__tit{
                    @include font(3.2,400,#000);
                    line-height: 3.4rem;
                    & + .board-detail__capt{
                        margin-top:2.2rem;
                    }
                }
            }
            .board-detail__capt{
                background: none;
                span{
                    @include font(1.8,400,#000);
                    
                    em{
                        margin-left: 1rem;
                        @include font(1.8,300,#7D7D7D);
                    }
                }
            }
            .board-detail__view{
                padding:0;
            }
            .board-detail__view-inner{
                *{
                    @include font(1.8,300,#000);
                }
                a{
                    text-decoration: underline;
                }
                .icon{
                    margin-right:0.6rem;
                    display:block;
                    width:max-content;
                    img{
                        width:100%;
                    }
                }
            }
            .board-detail__file__inner{
                padding:0;
                
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        font-size: 1.8rem;
                        padding:2rem 0 2rem 3rem;
                        display: flex;
                        align-items: center;
                        & + li{
                            border-top:1px solid #EBEBEB;
                        }
                    }
                }
                .board-file__link{
                    margin-left:3rem;
                    @include font(1.8,300,#666);
                }
            }
            
            .board-layout__list-gallery{
                .gallery-link__img{
                    & + .gallery-link__data{
                        margin:0;
                    }
                }
            }
            .sub-mainTit{
                & + .board-layout{
                    margin-top:5rem;
                    
                }
            }
            .gallery-link{
                position: relative;
                &:hover{
                    .gallery-link__data{
                        opacity: 1;
                    }
                }
            }
            .gallery-link__img{
                display: block;
                img{
                    width:100%;
                }
            }
            .gallery-link__data{
                position: absolute;
                left:0;
                top:0;
                background: rgba(0,0,0,75%);
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all 0.1s;
                display:flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                @include ellipsis(1);
                .tit{
                    display: block;
                    margin:0 auto;
                    max-width: 24rem;
                    @include font(2,500,#fff);
                    line-height: 3rem;
                    @include ellipsis(1);
                    & + .creDate{
                        margin-top:1rem;
                    }
                }
                .creDate{
                    display: block;
                    line-height: 2.4rem;
                    @include font(1.6,200,rgba(255,255,255,80%));
                }
            }
        }
        
        
        .subContent{
            &-wrap{
                
                width:140rem;
                max-width: 100%;
                margin:0 auto;
            }
            
        }
        
        .poster-img{
            .img{
                width:57.2rem;
                display: block;
                img{
                    width:100%;
                }
            }
        }
        .poster-wrap{
            @include d-flex;
        }
        .poster-info{
            li{
                @include font(1.8,400,#000);
                span{
                    margin-right: 1.4rem;
                    @include font(1.8,500,#000);
                }
                & + li{
                    margin-top:2rem;
                }
            }
        }
        .txt-wrap{
            background: #fff;
            padding:6.4rem;
            margin-left:2rem;
            .sub-tit{
                @include font(1.6,200,#000);
                & + .tit{
                    margin-top:2.8rem;
                }
            }
            .tit{
                @include font(4,600,#000);
                & + .txt-zip{
                    margin-top:3.4rem;
                }
            }
            .txt-zip{
                
                .txt{
                    text-align: left;
                    display: block;
                    @include font(1.8,300,#000);
                    line-height: 3.2rem;
                    & + .txt{
                        margin-top:4.3rem;
                    }
                }
                & + .poster-info{
                    margin-top:4rem;
                }
            }
            .logo{
                width: 26.5rem;
                display: block;
                margin: 0 auto;
                & + .txt{
                    margin-top:4rem;
                }
                img{
                    width:100%;
                }
            }
            .txt{
                text-align: center;
                @include font(2,300,#000);
                line-height: 3.6rem;
            }
            & + .stat-box{
                margin-top:12rem;
            }
        }
    }
}







.stat-box{
    position: relative;
    height: 42.2rem;
    &__list{
        @include d-grid-column--repeat(2,0,0);
        height: 100%;
        width: calc(100% - 45.3rem);
        margin-left:auto;
        padding:3rem 0;
        margin-right: 17.4rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .stat{
            &-tit{
                text-align: center;
                @include font(1.8,300,#000);
                & + .stat-content{
                    margin-top:3rem;
                }
            }
            &-content{
                .number{
                    @include font(6,600,#0066cc);
                }
                .unit{
                    margin-left:0.8rem;
                    @include font(1.6,300,#7d7d7d);
                }
            }
        }
        
    }
    .left,
    .right{
        position: absolute;
    }
    .left{

        width: 45.3rem;
        height: 30rem;
        left: 0;
        background: #0066cc;
        @include d-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left:6rem;
        z-index: 1;
        .tit{
            @include font(3.6,600,#fff);
            line-height: 5.2rem;
            & + .txt{
                margin-top:1rem;
            }
        }
        .txt{
            @include font(1.6,400,rgba(255,255,255,36%));
        }
    }
    .right{
        width:116.3rem;
        height: 39.2rem;
        top:3rem;
        right:0;
        background: #f8f8f8;
        z-index: 0;
    }
    
}
/* 소통마당 > Q&A */
.ui-text{
    .list{
        &-dot{
            li{
                position:relative;
                padding-left: 8px;
                font: {
                    size:1.6rem;
                    weight:300;
                }
                line-height: 3rem;
                &::before{
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    margin-right: 5px;
                    font: {
                        size:1.6rem;
                        weight:300;
                    }
                    content:" · "
                }
            }
        }
    }
}
.ui{
    &-form{
        &+.ui-text{
            margin-top: 1.5rem;
        }
    }
}
.sub{
    &-item{
        &__tit{
            font: {
                size: 3.6rem;
                weight:500;
            }
            text-align: center;
        }
    }
}
.certi{
    &-wrap{
        &__inner{
            padding:6rem;
            background: #f8f8f8;
        }
    }
    &-img{
        img{
            display:block;
            width:9.7rem;
            height:9.7rem;
            margin: 5rem auto;
        }
    }
    &-text{
        font: {
            size:1.8rem;
            weight:400;
        }
        line-height: 3.2rem;
        text-align: center;
    }
}


// responsive
@include media-breakpoint-down(n-lg){ //n-lg: 1280px,
    .board-table__bottom{
        display: flex;
        flex-direction: column-reverse;
        .btn-wrap--absolute{
            position: relative;
            top: 0;
            justify-content: flex-end;
            //margin-top: 6rem;
        }
        .pagination-wrap{
            margin-top: 2rem;
        }
    }
}
@include media-breakpoint-down(n-sm){ //768px
    .subVisual{
        &--talk{
            background-image:url('../image/sub/img-subVisual--04_m.png');
            background-position:center 0;
        }
    }
    .certi{
        &-wrap{
            &__inner{
                padding: 3rem;
                padding-top: 3.5rem;
            }
        }
        &-text{
            font-size: 14px;
            word-break:keep-all;
            br{
                display: none;
            }
        }
        &-img{
            img{
                margin: 20px auto;
            }
        }
    }
}

@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.news{
            &__press,
            &__comu{
                .subContent-wrap{
                    .board-layout{
                        .board-table__list{
                            table{
                                tr{
                                    grid-template-columns: 6rem 11.5rem auto;
                                }
                            }
                        }
                    }
                }
                
            }
            &__notice,
            &__press,
            &__comu{
                .board-layout{
                    & + .btn-wrap{
                        margin-top:4rem;
                    }
                }
                .board-detail__file__inner{
                    .board-file__link{
                        font-size: 2.8rem;
                        margin-left:1.6rem;
                    }
                    ul{
                        li{
                            padding:2.5rem 0 2.5rem 3rem;
                            font-size: 2.8rem;
                        }
                    }
                }
                .board-detail__view-inner{
                    .icon{
                        display:none;
                    }
                    *{
                        font-size: 2.8rem;
                        line-height: 5rem;
                    }
                }
                .board-detail-top{
                    padding:0 4.6rem 5rem ;
                    .board-detail__tit{
                        font-size:3.4rem;
                        line-height: 5.8rem;
                        word-break: break-all;
                        & + .board-detail__capt{
                            margin-top:1.6rem;
                        }
                    }
                    .board-detail__capt{
                        margin:0 auto;
                        span{
                            font-size: 2.2rem;
                            em{
                                font-size: 2.2rem;
                            }
                        }
                    }
                }
                .subContent-wrap{
                    padding:0 4rem 12rem;
                }
            }
            .board-layout{
                .td-filelink{
                    width:3rem;
                    height:3rem;
                    &:before{
                        display:none;
                    }
                    .count{
                        width:2.5rem;
                        height:2.5rem;
                        line-height: 2.3rem;
                        font-size: 1.5rem;
                        right:-1.5rem;
                        bottom:-1.5rem;
                        position: relative;
                        border-radius: 999px;
                            background: #fff;
                            border: 1px solid #000;
                        
                        
                    }
                }
                .board-table__list{
                    tbody {
                        td{
                            font-size: 2.2rem;
                            a{
                                font-size: 2.8rem;
                            }
                        }
                    }

                }
                .board-table__list{
                    thead{
                        height:0;
                        tr,
                        th{
                            font-size: 0;
                            height:0;
                            border:none;
                        }
                    }
                    table{
                        width:100%;
                        min-width: 100%;
                        table-layout: auto;
                        tbody{
                            tr{
                                padding:3.2rem 0;
                            }
                        }
                        tr{
                            display:grid;
                            grid-template-rows:4.1rem 4.1rem;
                            grid-template-columns: 6rem 5rem 12rem 18rem auto;
                            gap:0rem 0;
                            grid-gap:0rem 0;
                            // grid-template-columns:5% 10% 10% 10% 65%;
                            align-items: center;
                            border-bottom: 1px solid #d9d9d9;
                            
                            &.noFile{
                                grid-template-columns:6.2rem 12rem 5rem 3rem auto;
                                td{
                                    &:nth-child(4){
                                        grid-column: 2/3;
                                        grid-row:2/3;
                                    }
                                    &:nth-child(5){
                                        grid-column: 3/4;
                                        grid-row:2/3;
                                        position: relative;
                                        padding-left:7rem;
                                        &:after{
                                            position: absolute;
                                            content:'조회수';
                                            display: block;
                                            left:0;
                                            top:0;
                                        }
                                    }
                                }
                                .td-file{
                                    grid-column: 5/6;
                                    
                                }
                                
                            }
                            td{
                                border-bottom: none;
                                height: auto;
                                &.td-title{
                                    height:4.1rem;
                                }
                                &.td-file{
                                    grid-column: 2 / 3;
                                    grid-row: 2/3;
                                    width: max-content;
                                    
                                    
                                }
                                &:nth-child(1){
                                    grid-column: 1/2;
                                    grid-row:1/3;
                                    height:3.4rem;
                                    line-height: 3.4rem;
                                }
                                &:nth-child(2){
                                    grid-column: 2/6;
                                    grid-row:1/2;
                                    padding:0;
                                    
                                    a{
                                        height: 100%;
                                        display: block;
                                        align-items: center;
                                    }
                                }
                                &:nth-child(4){
                                    grid-column: 3/4;
                                    grid-row:2/3;
                                    padding:0;
                                    height:auto;
                                }
                                &:nth-child(5){
                                    position: relative;
                                    grid-column: 4 / 5;
                                    grid-row: 2/3;
                                    padding-left:1rem;
                                    margin-left:1rem;
                                    &:after{
                                        left:0;
                                            top:0;
                                        position: absolute;
                                        content:'조회수';
                                        display: block;
                                    }
                                }
                            }
                            
                        }
                        colgroup{
                            col{
                                width:unset !important;
                            }
                        }
                    }
                }
                .sch-wrap{
                    flex-wrap:wrap;
                }
                .sch-form{
                    order:1;
                    width:100%;
                    height: 8.4rem;
                    .sch-form__label{
                        width:100%;
                    }
                    .sch-form__btn{
                        width:4.7rem;
                        margin-right:3rem;
                        background-size: 4.7rem;
                    }
                }
                .count-wrap{
                    order:2;
                    width: 100%;
                    *{
                        font-size: 2.8rem;
                    }
                    & + .sch-form{
                        margin-bottom: 4rem;
                    }
                }
            }
        }
    }
    .subVisual{
        &--dataBook{
            background-image:url('../image/sub/mo-img-subVisual--dataBook.jpg');
            background-position:center;
        }
    }

}