@charset 'utf-8';
@import 'mixin';

/** 소통마당 > 공지사항 */

.sub-container{
    &.intro{
        .subVisual{
            height: 74rem;
            background-image: url("../image/sub/img-subVisual--intro.png");
            background-position: center 0;
            max-width: 100%;
            &__inner{
                padding:13rem 0 34.7rem 4rem;
            }
        }
        .subVisual-logo{
            width: 34.9rem;
            & + .subVisual-txt{
                margin-top:3.6rem;
                word-break: keep-all;
                
            }
        }
        .subVisual-txt{
            @include font(1.8,200,#fff);
            line-height: 3rem;
        }
        .subContent{
            &__narrow{
                position: relative;
                width:140rem;
                max-width:100%;
                margin:-7rem auto 0;
                background: #fff;
                z-index: 0;
                padding-top:9rem;
                padding-bottom: 12rem;
            }
            &__wide{
                padding:5rem 0 8rem;
                background: #F3F7FB;
                &-top{
                    @include d-flex;
                    align-items: center;
                    width:140rem;
                    max-width:100%;
                    margin:0 auto;
                    align-items: flex-end;
                    width: 140rem;
                    max-width: 100%;
                    margin: 0 auto;
                    justify-content: space-between;
                    & + .liveSwiper{
                        margin:4rem auto 0;
                    }
                    .txt-wrap{
                        .tit{
                            @include font(3.6,600,#000);
                            line-height: 3.6rem;
                            & + .txt{
                                margin-top:1.4rem;
                            }
                        }
                        .txt{
                            text-align: left;
                            @include font(1.8,300,#000);
                        }
                    }
                    .swiper-state{
                        .control{
                            @include d-flex;
                            align-items: center;
                            margin: 0;
                            &-btn{
                                width: 4rem;
                                height: 4rem;
                                border:1px solid #e7e7e7;
                                position: static;
                                font-size: 0;
                                margin: 0;
                                cursor: pointer;
                                & + .control-btn{
                                    margin-left:0.4rem;
                                }
                            }
                        }
                        .swiper-button{
                            &-next,
                            &-prev{
                                &:after{
                                    font-size: 0;
                                }
                            }
                            &-prev{
                                background:#fff url(../image/common/icon/icon_slide--prev.png) no-repeat center;
                                background-size: 0.8rem 1.6rem;
                            }
                            &-pause{
                                background:#fff url(../image/common/icon/icon_slide--pause.png) no-repeat center;
                                background-size: 0.6rem 1.6rem;
                            }
                            &-next{
                                background:#fff url(../image/common/icon/icon_slide--next.png) no-repeat center;
                                background-size: contain;
                                background-size: 0.8rem 1.6rem;
                            }
                        }
                    }
                }
                .liveSwiper{
                    &-wrap{
                        width:192rem;
                        max-width: 100%;
                        margin:4rem auto 0;
                    }
                    &__data{
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        left: 0;
                        top: 0;
                        background: #061741;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        transition: all 0.3s;
                        .icon{
                                /* width: 3.9rem; */
                            display: block;
                            width: auto;
                            max-width: 4.5rem;
                            text-align: center;
                            img{
                                width:100%;
                                object-fit: contain;
                            }
                            & + .tit{

                                margin-top:2rem;
                            }
                        }
                        .tit{
                            display: block;
                            margin: 0 auto;
                            max-width: 22rem;
                            @include font(2,500,#fff);
                            line-height: 3rem;
                            text-align: center;
                            @include ellipsis(3);
                            & + .creDate{
                                margin-top:2.4rem;
                            }
                        }
                        .creDate{
                            text-align: center;
                            display: block;
                            line-height: 2.4rem;
                            font-size: 1.6rem;
                            font-weight: 200;
                            color: rgba(255, 255, 255, 0.8);
                        }
                    }
                    overflow:hidden;
                    .swiper-slide{
                        
                        flex-shrink: 0;
                        position: relative;
                        transition-property: transform;
                        /*box-shadow: 4px 4px 14px rgba(0,0,0,16%);*/
                        a{
                            position: relative;
                            display: block;
                            height:100%;
                            background: #131313;
                            
                            img{
                                width:100%;
                                height:100%;
                                object-fit: contain;
                            }
                        }
                    }
                    
                    
                }
                
            }
        }
        .txt-wrap{
            .logo{
                width: 26.5rem;
                display: block;
                margin: 0 auto;
                & + .txt{
                    margin-top:4rem;
                }
                img{
                    width:100%;
                }
            }
            .txt{
                text-align: center;
                @include font(2,300,#000);
                line-height: 3.6rem;
            }
            & + .stat-box{
                margin-top:12rem;
            }
        }
    }
}







.stat-box{
    position: relative;
    height: 42.2rem;
    &__list{
        @include d-grid-column--repeat(2,0,0);
        height: 100%;
        width: calc(100% - 45.3rem);
        margin-left:auto;
        padding:3rem 0 5rem 0;
        margin-right: 17.4rem;
        justify-content: center;
        align-items: center;
        justify-items: center;
        .stat{
            &-tit{
                line-height: 2.7rem;
                text-align: center;
                @include font(1.8,500,#000);
                & + .stat-content{
                    margin-top:1rem;
                }
            }
            &-content{
                .number{
                    line-height: 7rem;
                    @include font(6,600,#0066cc);
                }
                .unit{
                    line-height: 2.4rem;
                    margin-left:0.8rem;
                    @include font(1.6,300,#7d7d7d);
                }
            }
        }
        
    }
    .left,
    .right{
        position: absolute;
    }
    .left{

        width: 45.3rem;
        height: 30rem;
        left: 0;
        background: #0066cc;
        @include d-flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left:6rem;
        z-index: 1;
        .tit{
            @include font(3.6,600,#fff);
            line-height: 5.2rem;
            & + .txt{
                margin-top:1rem;
            }
        }
        .txt{
            line-height: 2.4rem;
            @include font(1.6,400,rgba(255,255,255,36%));
        }
    }
    .right{
        width:116.3rem;
        height: 39.2rem;
        top:3rem;
        right:0;
        background: #f8f8f8;
        z-index: 0;
    }
    
}
/* 소통마당 > Q&A */
.ui-text{
    .list{
        &-dot{
            li{
                position:relative;
                padding-left: 8px;
                font: {
                    size:1.6rem;
                    weight:300;
                }
                line-height: 3rem;
                &::before{
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    margin-right: 5px;
                    font: {
                        size:1.6rem;
                        weight:300;
                    }
                    content:" · "
                }
            }
        }
    }
}
.ui{
    &-form{
        &+.ui-text{
            margin-top: 1.5rem;
        }
    }
}
.sub{
    &-item{
        &__tit{
            font: {
                size: 3.6rem;
                weight:500;
            }
            text-align: center;
        }
    }
}
.certi{
    &-wrap{
        &__inner{
            padding:6rem;
            background: #f8f8f8;
        }
    }
    &-img{
        img{
            display:block;
            width:9.7rem;
            height:9.7rem;
            margin: 5rem auto;
        }
    }
    &-text{
        font: {
            size:1.8rem;
            weight:400;
        }
        line-height: 3.2rem;
        text-align: center;
    }
}


// responsive
@include media-breakpoint-down(n-lg){ //n-lg: 1280px,
    .board-table__bottom{
        display: flex;
        flex-direction: column-reverse;
        .btn-wrap--absolute{
            position: relative;
            top: 0;
            justify-content: flex-end;
            //margin-top: 6rem;
        }
        .pagination-wrap{
            margin-top: 2rem;
        }
    }
}
@include media-breakpoint-down(n-sm){ //768px
    .subVisual{
        &--talk{
            background-image:url('../image/sub/img-subVisual--04_m.png');
            background-position:center 0;
        }
    }
    .certi{
        &-wrap{
            &__inner{
                padding: 3rem;
                padding-top: 3.5rem;
            }
        }
        &-text{
            font-size: 14px;
            word-break:keep-all;
            br{
                display: none;
            }
        }
        &-img{
            img{
                margin: 20px auto;
            }
        }
    }
}
@media (min-width:1025px){
    
    .sub-container{
        &.intro{
            .subContent__wide{
                .liveSwiper{
                    
                    .swiper-slide{
                        width:33.5rem !important;
                        height:33.5rem !important;
                        .cover{
                            &:hover{
                                .liveSwiper__data{
                                    opacity: 0.9;
                                }
                            }
                        }
                        a{
                            transition: all 0.3s;
                        }
                    }
                }
            }
        }
    }   
}
@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.intro{
            .subVisual-logo{
                width:31.9rem;
            }
            .subContent-wrap{
                margin-top:0;
            }
            .subContent__narrow{
                padding:0 4rem;
                width:91.04%;
                margin-top:-4rem;
            }
            .subVisual{
                height: 96rem;
                background-image: url("../image/sub/img-subVisual--intro-mo.png");
                background-position: bottom;
                max-width: 100%;
            }
            .subVisual__inner{
                padding:8rem 3rem 4rem;
            }
            .subVisual-txt{
                font-size: 2.6rem;
                line-height: 4.2rem;
                margin-top:4.4rem;
                br{
                    display: none;
                }
                
            }
            .subContent-wrap{
                margin-bottom: 0;
                .subContent__narrow {
                    padding:4rem 0 8rem;
                }
                .subContent__wide{
                    padding:5rem 0 6rem;
                    .liveSwiper{
                        .swiper-slide{
                            width:40.8rem !important;
                            height:40.8rem !important;
                        }
                    }
                    &-top{
                        padding:0 4rem;
                        .txt-wrap{
                            .tit{
                                font-size: 4.8rem;
                                line-height: 5.2rem;
                                & + .txt{
                                    margin-top:2rem;
                                    
                                }
                            }
                            .txt{
                                font-size: 2.8rem;
                                width:68%;
                                word-break: keep-all;
                            }
                        }
                        .swiper-state{
                            .control-btn{
                                width:6rem;
                                height:6rem;
                            }
                            .swiper-button-prev{
                                background-size: 1rem 2rem;
                            }
                            .swiper-button-pause{
                                background-size: 1.2rem 2.6rem;
                            }
                            .swiper-button-next{
                                background-size: 1rem 2rem;
                            }
                        }
                    }
                }
            }
            .txt-wrap{
                & + .stat-box{
                    margin-top:8rem;
                }
            }
            .stat-box{
                height: 100%;
                .left{
                    position: relative;
                    z-index: 2;
                    .tit{
                        font-size:3.8rem;
                        line-height: 5.4rem;
                        & + .txt{
                            margin-top:0.8rem;
                        }
                    }
                    .txt{
                        line-height: 3.3rem;
                        font-size: 2.2rem;
                    }
                }
                .right{
                    position: unset;
                    height: auto;
                    width:auto;
                    margin-left:4rem;
                    .stat-box__list{
                        margin:0;
                        width:100%;
                        padding:13rem 4.6rem 5rem 6.7rem;
                        grid-template-columns: 9rem 24rem;
                        align-content: center;
                        gap:3.5rem 0;
                        grid-gap:3.5rem 0;
                        height:max-content;
                        margin-top:-10rem;
                        li{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            &:nth-child(odd){
                                margin-right:15rem;
                            }
                            &:nth-child(even){
                                margin-left:11rem;
                            }
                        }
                        .stat-content{
                            position: relative;
                            display: inline-flex;
                            margin-top:0.5rem;
                            .number{
                                max-width: 24rem;
                                font-size: 5rem;
                                word-break: break-all;
                            }
                            .unit{
                                
                                font-size: 2rem;
                                width: max-content;
                                padding-top: 3rem;
                                padding-left:0.5rem;
                                display: block;
                                position: absolute;
                                left: 100%;
                                margin: 0;
                                width: 6.7rem;
                            }
                        }
                        .stat-tit{
                            text-align: center;
                            line-height: 3.3rem;
                            font-size: 2.2rem;
                        }
                    }
                }
            }
            .txt-wrap{
                .txt{
                    line-height: 4.4rem;
                    font-size: 2.8rem;
                    
                }
                .logo{
                    & + .txt{
                        
                    }
                }
            }
        }
    }
    .subVisual{
        &--dataBook{
            background-image:url('../image/sub/mo-img-subVisual--dataBook.jpg');
            background-position:center;
        }
    }

}