@charset 'utf-8';
@import 'mixin';

.board-layout{
    width: 140rem;
    margin:0 auto;
    max-width: 100%;
    .board-table{
        margin-top:2.4rem;
        
        th{
            font-size:1.8rem;
            font-weight: 400;
            vertical-align: middle;
            
        }
        &__list{
            .board-table__inner{
                border-top:1px solid #000;
            }
            table{
                table-layout: fixed;
                min-width: 100%;
                max-width: none;
                position: relative;
                
            }   
            thead{
                th{
                    font-weight: 500;
                    background: #FAFAFA;
                    color: #000;
                    vertical-align: middle;
                    text-align: center;
                    border-bottom:1px solid #EBEBEB;
                    border-top:none;
                    &:first-child,&:last-child{
                        border-left:none;
                        border-right:none;
                    }
                }
                tr{
                    height:6rem;
                    
                    border-top:none;
                    
                }
                .num{
                    width: 9%;
                }
                .cat{
                    width: auto;
                    
                }
                .addfile{
                    width: 8.6%;
                }
                .date{
                    width: 12.9%;
                }
                .view{
                    width: 12.9%;
                }
    
    
    
                .category{
                    width: 8.6%;
                }
                .name{
                    width:16.65%;
                }
                .callnum{
                    width:16.79%;
                }
                
            }
            tbody{
                tr{
                    &.fix{
                        td{
                            &:nth-child(1){
                                background: url(../image/common/icon/icon-table-fix.png)  center / contain no-repeat;
                                background-size: 2.2rem 2.2rem;
                                
                            }
                            &.td-title{
                                a{
                                    color:#003e88;
                                }
                            }
                        }
                    }
                    &:first-child{
                        td{
                            border-top:none;
                        }
                    }
                    &.private{
                        .cate{
                            &:after{
                                content:'';
                                width:1.8rem;
                                height:1.8rem;
                                margin-left: 0.5rem;
                                background: url(../image/common/icon/icon_private.png) no-repeat center;
                                background-size: contain;
                            }
                        }
                    }
                }
                td{
                    
                    height: 6rem;
                    font-size: 1.8rem;
                    text-align: center;
                    vertical-align: middle;
                    border-top:none;
                    border-bottom:1px solid #EBEBEB;
                    color:#333;
                    font-weight: 300;
                    box-sizing: border-box;
                    &:nth-child(4){
                        font-weight: 300;
                    }
                    &:nth-child(2){
                        text-align: left;
                        padding-left:3rem;
                    }
                    &:first-child,&:last-child{
                        border-left:none;
                        border-right:none;
                    }
                    a{
                        font-size: 1.8rem;
                    }
                }
            }
            .td{
                &-title{
                    padding:0 3rem;
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    &__inner{
                        @include d-flex;
                        @include align-center;
                    }
                    .icon-secret{
                        display: inline-block;
                        width: 1.3rem;
                        height:2rem;
                        margin-left: 1rem;
                        vertical-align: top;
                        background: url(../image/common/icon/icon-secret.png) no-repeat center;
                        background-size: 1.3rem 2rem;
                        flex:none;
                    }
                }
                &-titlelink{
                    @include ellipsis(1);
                    &.cate{
                        position: relative;
                        padding-left:5.6rem;;
                        height:100%;
                        display:flex;
                        align-items: center;
                        @include ellipsis(1);
                        &.cate--noticex.cate--notice{
                            padding-left:5.6rem;;
                        }
                        &.cate--noticex:not(.cate--notice){
                            padding-left:0;
                            
                        }
                        &:before{
                            display:block;
                            position: absolute;
                            left:0;
                            height:3.7rem;
                            font-size:1.4rem;
                            font-weight: 500;
                            line-height: 3.7rem;
                            padding:0 1.1rem;
                            color:#fff;
                            border-radius: 0.4rem;
                        }
                        &--notice{
                            &:before{
                                content:'공지';
                                background: #E54125;
                            }
                        }
                        &--festival{
                            &:before{
                                content:'행사';
                                background: #2D3C8A;
                            }
                        }
                        &--research{
                            &:before{
                                content:'연구';
                                background: #E56A25;
                            }
                        }
                        &--etc{
                            &:before{
                                content:'기타';
                                background: #6D6E67;
                            }
                        }
                    }
    
                }
                &-filelink{
                    display: inline-block;
                    width:2.2rem;
                    height:2.2rem;
                    background: url(../image/common/icon/icon-download__table.png) no-repeat center;
                    background-size: cover;
                }
                &-process{
                    .badge-process{
                        @include d-flex;
                        align-items: center;
                        justify-content: center;
                        width:9.2rem;
                        height:4rem;
                        margin: 0 auto;
                        border:1px solid #4568a9;
                        font-size:1.6rem;
                        color:#4568a9;
                        box-sizing: border-box;
                        &__end{
                            background: #4568a9;
                            color:#ffffff;
                        }
                    }
                }
                &-work{
                    text-align: left;
                    //@include ellipsis(1)
                    line-height: normal;
                }
            }
            &--press{
                thead{
                    .num{
                        width: 8.572%;
                    }
                    .press{
                        width: 8.6%;
                    }
                }
                
                .td-titlelink{
                    padding-left:3rem;
                    background: url(../image/common/icon/icon-pressLink.png) no-repeat left center;
                    background-size: 1.7rem;
                }
    
            }
            &--qna{
                thead{
                    .num, .process, .author{
                        width: 8.572%;
                    }
                }
            }
            &--org{
                thead{
                    tr{
                        height: 6rem;
                        border-top-width: 1px;
                    }
                }
                tbody{
                    td{
                        height: 6rem;
                        padding:1.5rem 0;
                    }
                }
            }
            
        }
        &__view{
            table{
                th{
                    padding-left:3.3rem;
                    text-align: left;
                    &:first-child,&:last-child{
                        border-left:none;
                    }
                }
                tbody{
                    tr{
                        &:nth-child(1){
                            border-top:1px solid #DEDEDE;
                        }
                    }
                }
                
            }
            .ver-th{
                width: 28rem;
            }
            tr{
                border-bottom:1px solid #DEDEDE;
            }
            th, td{
                vertical-align: middle;
            }
            th{
                height: 7rem;
                border-right:1px solid #DEDEDE;
                background: #ECF4FA;
            }
            td{
                height: 7rem;
                padding: 0 3rem;
                padding-right:0;
                text-align: left;
            }
        }
        &__bottom{
            position: relative;
            padding-top:4.5rem;
            .btn-wrap--absolute{
                top: 3rem;
                right:0;
            }
            .pagination-wrap{
                margin-top: 0;
            }
        }
    }
    &__list{
        width:100%;
        &-gallery{
            .gallery{
                &-item{
    
                }
                &-link{
                    display: block;
                    &__img{
                        & + .gallery-link__data{
                            margin-top:1.7rem;
                        }
                        display: block;
                        img{
                            width:100%;
                        }
                    }
                    &__data{
                        text-align: center;
                        span{
                            position: relative;
                        }
                        .name{
                            @include font(2.2,500,#000);
                            padding-right:1rem;
                        }
                        .job,
                        .country{
                            &:before{
                                position:absolute;
                                content:'/';
                                left:0;
                                top:50%;
                                transform: translateY(-50%);
                            }
                        }
                        .job{
                            padding:0 1rem;
                            @include font(1.8,300,#000);
                            
                        }
                        .country{
                            padding:0 1rem;
                            @include font(1.8,300,#000);
                        }
                    }
                }
                
            }
        }
    }
    .board-tab__list{
        flex-wrap: wrap;
        display:flex;
        border-top:1px solid #ebebeb;
            border-left:1px solid #ebebeb;
        &.col{
            &-7{
                li{
                    
                    width: calc(100% / 7);
                    
                }
            }
        }
        li{
            position: relative;
            margin:0;
            border-right:1px solid #ebebeb;
            border-bottom:1px solid #ebebeb;
            
            &.active{
                
                border-color: #233e80;
                & + li{
                    margin-top:0;
                }
                &::after{
                    background: #233e80;
                    z-index: 2;
                    bottom: 0;
                }
                a{
                    
                    @include font(1.8,500,#233e80);
                }
            }
        }
    }
    &__view{
        width: 100%;
    }
    &__lnb{
        margin-right:8rem;
        li{
            position: relative;
            border:1px solid #ebebeb;
            
            & + li{
                margin-top: -1px;
            }
            &.active{
                
                border-color: #233e80;
                & + li{
                    margin-top:0;
                }
                &::after{
                    background: #233e80;
                    z-index: 2;
                    bottom: 0;
                }
                a{
                    
                    @include font(1.8,500,#233e80);
                }
            }
            a{
                padding:1.4rem 0;
                display: block;
                width:19rem;
                    text-align: center;
                @include font(1.8,300,#666);
            }
        }
    }
    
}

.subContent{
    &__inner{
        width:140rem;
        max-width:100%;
        margin:0 auto;
    }
}
.sub-mainTit{
    padding-top:5rem;
    @include font(3,500,#000);
    text-align: center;
}
.sub-sec__tit{
    @include font(2.6,500,#000);
}
.subVisual{
    &-logo{
        display:block;
        img{
            width:100%;
        }
    }
    background-repeat:no-repeat;
    background-size: cover;
    position: relative;
    &__cate{
        position: absolute;
        right: 0;
        width: 35%;
        height: 100%;
        background: rgba(65, 80, 94, 0.28);
        border-left:1px solid rgba(255, 255, 255, 0.28);
        -webkit-backdrop-filter: blur(3px);
        display: grid;
        backdrop-filter: blur(3px);
        grid-template-rows: 56% auto;
        align-items: end;
        > *{
            margin-left:8rem;
        }
    }
    &__tit{
        color: #FFF;
        font-size: 4.4rem;
        font-weight: 600;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    &__inner{
        width: 140rem;
        margin:0 auto;
        height: 100%;
        max-width: 100%;
    }
    &__crumb{
        display:flex;
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 4rem;
      
        li{
            position:relative;
            padding-left:3rem;
            font-size:1.6rem;
            font-weight: 500;
            color:#fff;
            + li{
                background-image:url('../image/common/icon/icon_clampRight.png');background-repeat:no-repeat;
                background-position:12px center;
                background-size:.7rem 1.1rem;
                &::before{
                    display:inline-block;
                    content:""
                }
            }
            &:first-child{
                padding-left:0;
            }
        }
    }
}

.subContent-wrap{
    &.list{
        .subContent__tit{
            font-size:3.6rem;
            font-weight: 600;
            color:#6d6e67;
        }
    }
    &.view{
        
    }
}

.subContent{
    &__tit{
        font-size:4.4rem;
        font-weight:600;
        text-align:center;
    }
    &__tit2{
        font-size:3.2rem;
        font-weight:500;
    }
}


.subTab{
    .tab{
        &-link{
            a{
                height:7rem;
                border-top:2px solid #aaa;
                border-bottom:2px solid #aaa;
                font-size:2rem;
                font-weight:400;
                color:#a7a7a7;
                background-color:#fff;
                position: relative;
                &:before{
                    position: absolute;
                    right:0;
                    top:50%;
                    transform: translateY(-50%);
                    content:'';
                    display:block;
                    width:0.1rem;
                    height:2.5rem;
                    background-color: #ccc;
                }
                &:first-child{
                    border-left:2px solid #aaa;
                }
                &:last-child{
                    border-right:2px solid #aaa;
                    &:before{
                        display:none;
                    }
                }
                &.active{
                    color:#e54125;
                    font-weight: 600;
                }
            }
        }
    }
}



.bradcrumb {
    max-width: 192rem;
    margin: 0 auto;
  }
  .bradcrumb-wrap {
    border-bottom: 1px solid rgb(235, 235, 235);
    background: #F8F8F8;
  }
  .bradcrumb__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 140rem;
    height: 5rem;
    margin: 0 auto;
  }
  .bradcrumb-link--home {
    padding:1.6rem 1.605rem;
    background: #233e80;
  }
  .bradcrumb-link--home img {
    width: 100%;
  }
  .bradcrumb-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bradcrumb-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33rem;
    
  }
 
  .bradcrumb-item::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.1rem;
    height: 100%;
    background-color: #ebebeb;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
  }
  .bradcrumb__tit {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    padding: 0 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: url("../image/sub/icon-select--down.svg") no-repeat calc(100% - 3rem) center/1.2rem 0.6rem;
    text-align: left;
  }
  .bradcrumb__tit.is-active {
    color: #000;
    background: url("../image/sub/icon-select--down__on.svg") no-repeat calc(100% - 3rem) center/2.2rem 1.1rem;
  }
  .bradcrumb__links {
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ebebeb;
    z-index: 2;
    li{
        & + li{
            border-top: 1px solid #ebebeb;
        }
    }
  }
  .bradcrumb__links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 6rem;
    padding: 0 2rem;
    border-bottom: 1px solid #eeeeee;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
  }
  .bradcrumb__links a:last-child {
    border-bottom: none;
  }

@media (min-width:720px) and (max-width:1024px){
    
}

@media (min-width:320px) and (max-width:1024px){
    .board-layout{
        .board-tab__list{
            &.col{
                &-7{
                    li{
                        
                        width: calc(100% / 4);
                        
                    }
                }
            }
        }
    }
    .sub-mainTit{
        @include font(4.2,500,#000);
        padding-top:6rem;
    }
    .bradcrumb__inner{
        height:9rem;
        .bradcrumb__links{
            top:9rem;
            li{
                a{
                    height:9rem;
                }
            }
            
        }
        .bradcrumb-item{
            &.next{
                > button{
                    color:#233e80;
                }
            }
            button{
                font-size: 2.6rem;
            }
        }
        .bradcrumb__tit{
            background:url("../image/sub/icon-select--down.svg") no-repeat calc(100% - 3rem) center/2.2rem 1.1rem;
        }
        .bradcrumb__links{
            a{
                font-size: 2.6rem;
            }
        }
        .bradcrumb-link--home{
            width: 9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 2.724rem;
                height: 2.724rem;
                object-position: center;
            }
        }
    }

    .sub{
        &Content{
            &-wrap{
                margin-top:3rem;
                margin-bottom: 4rem;
                &.list{
                    .subContent__tit{
                        margin-top: 2rem;
                        margin-bottom: 2rem;
                        font-size:1.8rem;
                    }
                }
            }
        }
        
        &Visual{
            justify-content: flex-start;
            height: 12.4rem;
            &__tit{

                font-size:2.2rem;
            }
            &__cate{
                grid-template-rows: 81% 19%;
                
                & > *{
                    margin-left:2rem;
                }
            }
            &__crumb{
                margin-bottom: 2rem;
                li{
                    display:flex;
                    align-items: center;
                    font-size:1rem;
                    &:first-child{
                        img{
                            width:0.9rem;
                            height: 1rem;
                        }
                    }
                    & + li{
                        padding:0 0 0 2.5rem;
                        background-size: 0.4rem 0.8rem;
                    }
                }
            }
        }
        &Tab{
            
        }
        
    }
    .subVisual{
        height:240px;
        background-size:cover;
        &__crumb{
            li{
                font-size:1.6rem;
                &:first-child{
                    img{
                        width:1.7rem;
                    }
                }
                + li{
                    padding-left:3rem;
                    background-position:1.2rem center;
                    background-size:.7rem 1.1rem;
                }
            }
        }
        &__tit{
            margin-bottom:2.9rem;
            font-size:5.4rem;
        }
    }
    .subTab{
        .tab{
            &-link{
                a{
                    height:4.7rem;
                    font-size:1.6rem;
                    &.active{
                        background-size:17.6rem 17.6rem;
                    }
                }
            }
        }
    }
    .subContent{
        &__tit{
            margin-top:3rem;
            margin-bottom:3rem;
            font-size:2.2rem;
        }
    }
}