@charset 'utf-8';
@import 'mixin';



/** 소통마당 > 공지사항 */
.subVisual{
    &--news{
        background-image:url('../image/sub/img-subVisual--news.jpg');
        background-position:center 0;
    }
}

/* 소통마당 > Q&A */
.ui-text{
    .list{
        &-dot{
            li{
                position:relative;
                padding-left: 8px;
                font: {
                    size:1.6rem;
                    weight:300;
                }
                line-height: 3rem;
                &::before{
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    margin-right: 5px;
                    font: {
                        size:1.6rem;
                        weight:300;
                    }
                    content:" · "
                }
            }
        }
    }
}
.ui{
    &-form{
        &+.ui-text{
            margin-top: 1.5rem;
        }
    }
}
.sub{
    &-item{
        &__tit{
            font: {
                size: 3.6rem;
                weight:500;
            }
            text-align: center;
        }
    }
}
.certi{
    &-wrap{
        &__inner{
            padding:6rem;
            background: #f8f8f8;
        }
    }
    &-img{
        img{
            display:block;
            width:9.7rem;
            height:9.7rem;
            margin: 5rem auto;
        }
    }
    &-text{
        font: {
            size:1.8rem;
            weight:400;
        }
        line-height: 3.2rem;
        text-align: center;
    }
}


// responsive
@include media-breakpoint-down(n-lg){ //n-lg: 1280px,
    .board-table__bottom{
        display: flex;
        flex-direction: column-reverse;
        .btn-wrap--absolute{
            position: relative;
            top: 0;
            justify-content: flex-end;
            //margin-top: 6rem;
        }
        .pagination-wrap{
            margin-top: 2rem;
        }
    }
}
@include media-breakpoint-down(n-sm){ //768px
    .subVisual{
        &--talk{
            background-image:url('../image/sub/img-subVisual--04_m.png');
            background-position:center 0;
        }
    }
    .certi{
        &-wrap{
            &__inner{
                padding: 3rem;
                padding-top: 3.5rem;
            }
        }
        &-text{
            font-size: 14px;
            word-break:keep-all;
            br{
                display: none;
            }
        }
        &-img{
            img{
                margin: 20px auto;
            }
        }
    }
}

@media (min-width:320px) and (max-width:1024px){
    .subVisual{
        &--news{
            background-image:url('../image/sub/mo-img-subVisual--news.jpg');
            background-position:center;
        }
    }

}