@charset 'utf-8';
@import 'mixin';



/* input-width */

.input{
    &-width{
        &-full{
            width:100%;
        }
        &-tiny{
            width: 50px;
        }
        &-small-mini{
            width: 60;
        }
        &-small{
            width: 70px;
        }
        &-regular{
            width:80px;
        }
        &-medium{
            width:90px;
        }
        &-large{
            width:100px;
        }
        &-big{
            width: 200px;
        }
        &-date{
            width: 130px;
            &-select{
                width: 70px;
            }
        }
        &-year{
            &-select{
                width: 100px;
            }
        }
    }
    &-height{
        &-tiny{
            height: 50px;
        }
        &-43{
            height: 4.3rem;
        }
        &-190{
            height: 19rem;
        }
        &-small{
            height: 70px;
        }
        &-regular{
            height:80px;
        }
        &-medium{
            height:90px;
        }
        &-large{
            height: 100px;
        }
        &-big{
            height: 200px;
        }
    }
}



.table{
    &-height{
        &-43{
            table{
                th,
                td{
                    height:4.3rem;
                }
                
            }
        }
    }
}


// align
.ta{
    &-l{
        text-align:left;
    }
    &-c{
        text-align:center;
    }
    &-r{
        text-align:right;
    }
}


// margin
.m{
    &r{
        &-auto{
            margin-right:auto;
        }
    }
    &l{
        &-auto{
            margin-left:auto;
        }
        &-10{
            margin-left:1rem;
        }
        &-20{
            margin-left:2rem;
        }
        &-30{
            margin-left:3rem;
        }
    }
    &t{
        &-10{
            margin-top:1rem;
        }
        &-20{
            margin-top:2rem;
        }
        &-30{
            margin-top:3rem;
        }
        &-40{
            margin-top:4rem;
        }
        &-45{
            margin-top:4.5rem;
        }
        &-50{
            margin-top:5rem;
        }
        &-60{
            margin-top:6rem;
        }
        &-70{
            margin-top:7rem;
        }
        &-80{
            margin-top:8rem;
        }
    }
    &b{
        &-10{
            margin-bottom:1rem;
        }
        &-20{
            margin-bottom:2rem;
        }
        &-30{
            margin-bottom:3rem;
        }
        &-40{
            margin-bottom:4rem;
        }
        &-50{
            margin-bottom:5rem;
        }
        &-60{
            margin-bottom:6rem;
        }
        &-120{
            margin-bottom:12rem;
        }
    }
}
.d-flex {
    @include d-flex;
}
.hidden{
    @include hidden;
}
.overflow{
    &-hidden{
        overflow:hidden;
    }
}

//font
.txt{
    &-depth{
        &--01{
            font-size:3rem
        }
        &--02{
            font-size:22rem
        }
        &--03{
            font-size:20rem
        }
        &--04{
            font-size:18rem
        }
        &--05{
            font-size:16rem
        }
        &--06{
            font-size:14rem
        }
        &--07{
            font-size:12rem
        }
    }
}
.font{
    &-weight{
        &__r{
            font-weight: 500;
        }
    }
}

.align{
    &-center{
        align-items: center;
    }
}
.justify{
    &-start{
        justify-content: start;
    }
    &-center{
        justify-content: center;
    }
    &-end{
        justify-content: end;
    }
    &-between{
        justify-content: space-between;
    }
}

//background-color
.bg{
    &-white{
        background-color:#fff;
    }
    &-gray{
        background-color:#f8f8f8;
    }
    &-blue{
        background-color:#233e80;
    }
    &-black{
        background-color:#000;
    }
}
.color{
    &-white{
        color:#fff;
    }
    &-black{
        color:#000;
    }
}

.border{
    &-black{
        border:1px solid #000;
    }
}

// responsive
@include media-breakpoint-down(n-ml){ //1400
    //margin
    .m{
        &t{
            &-20{
                margin-top:2rem;
            }
            &-30{
                margin-top:3rem;
            }
            &-40{
                margin-top:4rem;
            }
            &-50{
                margin-top:5rem;
            }
            &-60{
                margin-top:6rem;
            }
            &-70{
                margin-top:7rem;
            }
            &-80{
                margin-top:8rem;
            }
        }
    }

    //font
    .txt{
        &-depth{
            &--01{
                font-size:2.4rem
            }
            &--02{
                font-size:2.2rem
            }
            &--03{
                font-size:2.0rem
            }
            &--04{
                font-size:1.8rem
            }
            &--05{
                font-size:1.6rem
            }
            &--06{
                font-size:1.4rem
            }
            &--07{
                font-size:1.2rem
            }
        }
    }
}